/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
/* global */
:root {
  --background-main-color: #0d1117;
  --point-color: #3caf4c;
  --font-color: #c9d1d9;
  --icon-background-color: #30363d;
  --font-point-color: #529bee;
}
body {
  color: var(--font-color);
}

#wrapper {
  background-color: var(--background-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
}

.header {
  background-color: var(--background-main-color);
  padding: 0 2rem;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: var(--font-point-color);
}

/* button list */
.btnList {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  /* border-bottom: 3px solid var(--font-point-color); */
  font-size: 3rem;
}
button {
  outline: none;
  background-color: transparent;
  border: none;
  font-weight: bold;
}
.btnList__signIn {
  color: var(--font-color);
  border: 1px solid var(--font-point-color);
  padding: 0.5rem;
  border-radius: 5px;
}
.btnList__signIn:hover {
  background-color: var(--font-point-color);
}

.btn {
  color: white;
  background-color: var(--point-color);
  padding: 1rem 2rem;
  border-radius: 5px;
}
/* main */

main {
  display: flex;
  max-width: 1200px;
}
/* aside */

.filter__container {
  flex: 1 0 10%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-weight: bold;
}
.filter__tagsContainer {
  overflow: auto;
  width: 100%;
  max-height: 29%;
  /* border-bottom: 1px solid var(--font-color); */
}

.filter__tags {
  display: flex;
  align-items: center;
}
.filter__tagImg {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.filter__container span,
.filter__container--mobile span {
  color: var(--font-point-color);
}
.filter__container li,
.filter__container--mobile li {
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.filter__container li:hover,
.filter__container li.selected,
.filter__container--mobile li:hover,
.filter__container--mobile li.selected {
  background-color: var(--icon-background-color);
  color: var(--font-point-color);
}

/* filter mobile */
.filter__container--mobile {
  display: none;
}
.filter__container--mobile .btn {
  max-height: 3rem;
}
#tags-select,
#filter-select,
#discussion-tags-select {
  display: block;
  margin: 1rem 0;
  width: 10rem;
  background-color: var(--icon-background-color);
  border-radius: 10px;
  color: white;
  padding: 0.5rem;
  border: none;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

/* discussion */
.discussion__wrapper {
  flex: 1 0 70%;
  padding: 1rem;
  overflow-x: hidden;
}
.discussions__container {
  background-color: orange;
  height: 1000px;
}
::-webkit-scrollbar {
  display: none;
}
.discussions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--font-color);
}
.discussions__tagImage {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--icon-background-color);
}
.discussions__contentBox {
  padding: 1rem;
  cursor: pointer;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.discussions_title {
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.discussions__infoBox {
  display: flex;
  font-size: 0.9rem;

  justify-content: space-between;
}

.discussions__answered.answered {
  color: var(--point-color);
  font-weight: bold;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newDiscussion {
  display: none;
}
.signIn {
  display: none;
}
.answer {
  display: flex;
}
.discussion {
  display: flex;
}
.modal-title {
  font-weight: bold;
  color: var(--font-point-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.newDiscussion__modal,
.signIn__modal,
.answer__modal,
.discussion__modal {
  background-color: var(--background-main-color);
  min-width: 80vw;
  padding: 2rem;
  border-radius: 20px;
}
.modal-text {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
fieldset input,
textarea {
  background-color: transparent;
  border: 1px solid var(--font-point-color);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--font-color);
}
input:focus,
textarea:focus {
  outline: none;
}
.inputBody__input {
  height: 45vh;
  resize: none;
}
.signIn__modal {
  max-width: 60%;
}
fieldset {
  display: block;
  border: none;
}

/* discussion modal */
.inputBody {
  display: flex;
  flex-direction: column;
}
.discussion-title,
.discussion-body {
  width: 80vw;
  border: 1px solid var(--font-point-color);
  font-size: 1.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  /* .header__title {
    border-bottom: 3px solid var(--font-point-color);
  } */
  .container {
    width: 100%;
  }
  main {
    flex-wrap: wrap;
  }
  .filter__container {
    display: none;
  }
  .filter__container--mobile {
    display: flex;
    flex-basis: 100%;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .discussion__wrapper {
    flex-basis: 100%;
  }
}
